@import 'src/styles/index';

.character {
	&__container {
		@extend .container;
	}

	&__title {
		@extend .title;
		margin: 0 auto 25px auto;
		text-align: center;
	}

	&__content {
		display: flex;
		gap: 50px;
		align-items: center;
	}

	&__info {
		display: flex;
		flex-direction: column;
		gap: 25px;
	}
}