.button {
  display: flex;
  justify-content: center;
  margin: 25px ;
}

.button button {
  background-color: firebrick;
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  outline: none;
  color: aliceblue;

  cursor: pointer;
  transition: all 0.1s linear;
}


.App-header {
  min-height: 100vh;

.button button:hover {
  transform: scale(1.1);
  transition: all 0.1s linear;
}
.items {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-header_dark {
  background-color: #282c34;
  color: white;
}

.App-header_light {
  background-color: #9cb4cb;
  color: #2f2f2f;
}

.App-link {
  color: #61dafb;
}

.item {
  text-align: center;
  width: 100%;
  margin: 10px 0;
  padding: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.container {
  width: fit-content;
  padding: 10px 15px;
  background-color: lightcoral;
  border-radius: 10px;
  cursor: pointer;
}

.container:hover {
  background-color: #a45656;
  color: #FFFFFF;
}

.button {
  position: fixed;
  top: 30px;
}

.text {
  margin: 0;
  padding: 0;
  position: fixed;
}