.button {
  display: flex;
  justify-content: center;
  margin: 25px ;
}

.button button {
  background-color: firebrick;
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  outline: none;
  color: aliceblue;

  cursor: pointer;
  transition: all 0.1s linear;
}

.button button:hover {
  transform: scale(1.1);
  transition: all 0.1s linear;
}
.items {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.item {
  text-align: center;
  width: 100%;
  margin: 10px 0;
  padding: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}
