@import '../../../../styles/index';

.input {
	&__container {

	}

	&__label {
		color: #ffffff;
		font-size: 18px;
		font-weight: 200;
		letter-spacing: 1px;

		&-wrapper {

		}

		&-asterisk {

		}
	}

	&__description {

	}

	&__error {

	}
}